/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}

h1, h2{
	text-align: center;
}

ul > li > a{
	list-style-type: none;
	text-decoration-line: none;
}

.player_one, .player_two{
	background-color: rgb(255, 255, 255); 
	padding: 10px;
	border-radius: 10px;
	width: 80vw;
	margin: auto;
	display:flex;
	flex-direction:column;
}

#playlist{
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgb(255,255,255);
	text-decoration-color: none;
	width: 90vw;
	margin: auto;
}

audio{
	width: 80vw;
	margin: auto;
}

